:root {
  --black: rgb(30, 30, 30);
  --white: rgb(255, 255, 255);
  --gray--dark: rgb(66, 66, 66);
}


/* RESETS */
p {
  margin: 0;
}

html {
  background: var(--black);
  color: var(--white);
  font-family: Helvetica, sans-serif
}
