<ng-container *ngIf="stopsWithSchedules.length > 0 as stops; else loadingTemplate">
  <app-stop-schedule
    *ngFor="let stop of stopsWithSchedules; last as last"
    [stop]="stop"
    [class.mb4]="!last">
      <app-delete-button
        (clickEvent)="deleteStation(stop)"
      >
      </app-delete-button>
  </app-stop-schedule>

  <!-- Add Station Button-->
  <div class="pt2">
    <button
      (click)="redirectToEditLines()"
      class="bg-mid-gray w-100 pv3 f6 ttu b">
      Add Station
    </button>
  </div>

</ng-container>

<ng-template #loadingTemplate>
  <app-loading-spinner></app-loading-spinner>
  <div class="flex justify-center">
    Loading...
  </div>
</ng-template>
