<ng-container *ngIf="stopsWithSchedules.length > 0 as stops; else loadingTemplate">
  <div class="flex justify-center flex-wrap bt pv3" style="border-width: 6px;">
    <span class="text-gray f1 b">Your&nbsp;</span>
    <span class="f1 b">Stops</span>
    <span class="w-100 tc text-gray b">Here are your saved stops</span>
  </div>
  <app-stop-schedule
    *ngFor="let stop of stopsWithSchedules; first as first; last as last"
    [stop]="stop"

    [class.mb4]="!last">
      <app-delete-button
        (clickEvent)="deleteStation(stop)"
      >
      </app-delete-button>
  </app-stop-schedule>

  <!-- Add Station Button-->
  <div class="pt5">
    <button
      (click)="redirectToEditLines()"
      class="bg-mid-gray w-100 pv3 f6 ttu b">
      Add Another To Your Stops
    </button>
  </div>

</ng-container>

<ng-template #loadingTemplate>
  <app-loading-spinner></app-loading-spinner>
  <div class="flex justify-center">
    Loading...
  </div>
</ng-template>
